<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{416,344}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{416,344}</string>
				<key>spriteSourceSize</key>
				<string>{416,344}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{416,344}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>B0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,346}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{426,346}</string>
				<key>spriteSourceSize</key>
				<string>{426,346}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{416,0},{426,346}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>C0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,342}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,342}</string>
				<key>spriteSourceSize</key>
				<string>{420,342}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,0},{420,342}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>D0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{424,354}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{424,354}</string>
				<key>spriteSourceSize</key>
				<string>{424,354}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1262,0},{424,354}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>E0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{412,354}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{412,354}</string>
				<key>spriteSourceSize</key>
				<string>{412,354}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,354},{412,354}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>F0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{398,332}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{398,332}</string>
				<key>spriteSourceSize</key>
				<string>{398,332}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,354},{398,332}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>G0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{406,332}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{406,332}</string>
				<key>spriteSourceSize</key>
				<string>{406,332}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,354},{406,332}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>H0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,336}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{405,336}</string>
				<key>spriteSourceSize</key>
				<string>{405,336}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1216,354},{405,336}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>I0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{414,340}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{414,340}</string>
				<key>spriteSourceSize</key>
				<string>{414,340}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1621,354},{414,340}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>J0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{422,348}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{422,348}</string>
				<key>spriteSourceSize</key>
				<string>{422,348}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,708},{422,348}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>K0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{422,360}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{422,360}</string>
				<key>spriteSourceSize</key>
				<string>{422,360}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{422,708},{422,360}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>L0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{422,366}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{422,366}</string>
				<key>spriteSourceSize</key>
				<string>{422,366}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{844,708},{422,366}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>M0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{424,362}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{424,362}</string>
				<key>spriteSourceSize</key>
				<string>{424,362}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1266,708},{424,362}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>N0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{432,362}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{432,362}</string>
				<key>spriteSourceSize</key>
				<string>{432,362}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1074},{432,362}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>RD Concept Forward Walk(Cocos2d v3 Format).png</string>
				<key>textureFileName</key>
				<string>RD Concept Forward Walk(Cocos2d v3 Format)</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
